/* Custom styles for portfolio */
body {
    font-family: 'Arial', sans-serif;
}

h1, h2 {
    font-weight: 700;
}

.navbar-brand img{
    height: 40px;
    width: auto;
}

.nav-link{
    color: #fff;
}
.nav-link:hover{
    color: #086a43;
}

.hero-section {
    min-height: 400px;
    background-color: #086a43;
}

.profile {
    width: 200px; /* Set a specific width */
    height: 200px; /* Ensure it's a square */
    border: 3px solid #fff;
    border-radius: 50%; /* This makes it a circle */
    object-fit: cover; /* Ensures the image fits inside the circle */
}

.skill-logo{
    height: 50px;
    width: 50px;
}

.project{
    border: 1px solid black;
    border-radius: 7px;
}

.project:hover{
    background-color: #fff;
    color: #086a43;
}

.card {
    height: 100%; 
    display: flex;
    flex-direction: column; 
}

.card img {
    height: 250px;
    object-fit: cover;
}

.card-body {
    flex-grow: 1; 
    display: flex;
    flex-direction: column; 
    justify-content: space-between; 
}

.card-body .btn {
    align-self: flex-start; 
}

.card-body .btn:hover {
    background-color: #fff;
    color: #086a43;
}

.email{
    font-size: 1.5rem;
    border: 1px solid white;
    border-radius: 50px;
}

.email:hover{
    background-color: #fff;
    color: #086a43;
}

footer {
    background-color: #222;
}
